<div class="wrapper">
    <div class="header">
            <div class="logo-action">
            <i class="logo fas fa-arrow-circle-left" onclick="window.location='/'"></i>
            <h1><i class="logo fas fa-car"></i>ezCars</h1>
        </div>
        <div class="btn-grp">
            <button onclick="window.location='/admin/rentedCars'" class="btn btn-light-outline">Currently Rented List</button>
            <button onclick="window.location='/admin/carList'" class="btn btn-dark">Car List</button>
        </div>
    </div>
    <div class="content">
        <h1>User Requests ({{body.length}})</h1>
        <div class="scroll-container">
            {{#if body.length}}
            <ul class="carlist-ul">
                {{#each body}}
                <li class="cars">
                    <span style="display: block;">
                        Username : {{this.username}} <br />
                        Date : {{fromDate}} to {{toDate}}<br />
                        Time span : {{timePeriod}}
                    </span>
                    <span class="carlist-action-btns">
                        <i class="tooltip action-logo fas fa-eye"
                            onclick="window.location='/admin/request/{{this._id}}'" style="color: blue;">
                            <span class="tooltiptext">View Details</span>
                        </i>
                        <i class="tooltip action-logo fas fa-vote-yea"
                            onclick="window.location='/admin/approveRequest/{{this._id}}'" style="color: green;">
                            <span class="tooltiptext">Approve Request</span>
                        </i>
                        <i class="tooltip action-logo fas fa-window-close"
                            onclick="window.location='/admin/rejectRequest/{{this._id}}'" style="color: red;">
                            <span class="tooltiptext">Reject Request</span>
                        </i>
                    </span>
                </li>
                {{/each}}
            </ul>
            {{/if}}
        </div>
    </div>

    <div class="content">
        <h1>User Extension Requests ({{extensionRequest.length}})</h1>
        <div class="scroll-container">
        {{#if extensionRequest.length}}
        <ul class="carlist-ul">
            {{#each extensionRequest}}
            <li class="cars">
                <span style="display: block;">
                    Username : {{this.username}} <br/>
                    Extension Time Span : {{this.extensionPeriod}}
                </span>
                <span class="carlist-action-btns">
                    <i class="tooltip action-logo fas fa-eye"
                        onclick="window.location='/admin/request/ext/{{this._id}}'" style="color: blue;">
                        <span class="tooltiptext">View Details</span>
                    </i>
                    <i class="tooltip action-logo fas fa-vote-yea"
                        onclick="window.location='/admin/approveExtenRequest/{{this._id}}'" style="color: green;">
                        <span class="tooltiptext">Approve Request</span>
                    </i>
                    <i class="tooltip action-logo fas fa-window-close"
                        onclick="window.location='/admin/rejectExtenRequest/{{this._id}}'" style="color: red;">
                        <span class="tooltiptext">Reject Request</span>
                    </i>
                </span>
            </li>
            {{/each}}
        </ul>
        {{/if}}
        </div>
         <footer>
        <p id="time"  class="formating">1:43</p>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="../../public/js/time.js"></script>
    </div>
</div>