<div class="wrapper">
    <div class="header">
            <i class="logo fas fa-arrow-circle-left" onclick="window.location='/userDashboard'"></i>
            <h1><i class="logo fas fa-car"></i>ezCars</h1>
    </div>
    <div class="content">
        {{#if request}}
        <h1>Requests ({{body.length}})</h1>
        {{#if body.length}}
        {{#each body}}
        <div class="main-grid">
            <div class="lgrid">
                <p class="dtext"><b>Username: </b>{{this.username}}</p>
                <p class="dtext"><b>Car: </b>{{this.model}}</p>
                <p class="dtext"><b>From: </b>{{this.fromDate}}</p>
                <p class="dtext"><b>To: </b>{{this.toDate}}</p>
                <p class="dtext"><b>Time Span: </b>{{this.timePeriod}}</p>
                <p class="dtext"><b>Total Cost: </b>{{this.totalCost}}</p>
            </div>
        </div>
        {{/each}}
        {{/if}}
        {{#unless body.length}}<h3 style="margin-top: 10px;">No Data Found...</h3>{{/unless}}
        <hr />
        {{/if}}

        {{#if extension}}
        <h1>Extension Requests ({{body.length}})</h1>
        {{#if body.length}}
        {{#each body}}
        <div class="main-grid">
            <div class="lgrid">
                <p class="dtext"><b>Username: </b>{{this.username}}</p>
                <p class="dtext"><b>Car: </b>{{this.model}}</p>
                <p class="dtext"><b>Extension Time Span: </b>{{this.extensionPeriod}}</p>
                <p class="dtext"><b>Total Cost after extension: </b>{{this.newTotal}}</p>
            </div>
        </div>
        {{/each}}
        {{/if}}
        {{#unless body.length}}<h3 style="margin-top: 10px;">No Data Found...</h3>{{/unless}}
        <hr />
        {{/if}}
        </div>
    </div>