<div class="wrapper">
    <div class="header">
        <span class="logo-action">
            {{#if role}}
            <i class="logo fas fa-arrow-circle-left" onclick="window.location='/userDashboard'"></i>
            {{else}}
            <i class="logo fas fa-arrow-circle-left" onclick="window.location='/admin/adminDashboard'"></i>
            {{/if}}
            <h1><i class="logo fas fa-car"></i>ezCars</h1>
        </span>
    </div>
    <div class="content">
        <h1>Car Details</h1>
        <div class="main-grid">
            <div class="lgrid">
                <p class="dtext"><b>Model: </b>{{details.model}}</p>
                <p class="dtext"><b>Type: </b>{{details.type}}</p>
                <p class="dtext"><b>Color: </b>{{details.color}}</p>
                <p class="dtext"><b>Number of Doors: </b>{{details.numberDoors}}</p>
                <p class="dtext"><b>Seating Capacity: </b>{{details.seatingCapacity}}</p>
            </div>
            <div class="rgrid">
                <p class="dtext"><b>Hourly Rate: </b>{{details.hourlyRate}}</p>
                <p class="dtext"><b>Availability: </b>{{details.availability}}</p>
                <p class="dtext"><b>Overall Rating: </b>{{details.overallRating}}</p>
                <p class="dtext"><b>Engine Type: </b>{{details.engineType}}</p>
            </div>
        </div>
        <hr />
        <h1>Reviews:</h1>
        {{#if rev.length}}
        {{#each rev}}
        <b>Rating: </b>{{this.rating}}<br />
        <b>Client said: </b><i>"{{this.text}}"</i><br /><br />
        {{/each}}
        {{/if}}

        <div id="id_error1" hidden class="err-strip"></div>
        {{#if role}}
        <form action="/bookCar/{{details._id}}" method="post" id="booking-form">
            <div class="form-grid">
                <div class="flgrid">
                    <label>From Date :
                        <input type="date" name="fromDate" id="from_date" onchange="onFromDateChange(this)" />
                    </label><br />
                    <label>Upto Date :
                        <input type="date" name="toDate" id="to_date" onchange="onToDateChange(this)" />
                    </label><br />
                    <label>Time Period :
                        <input type="number" name="count" id="numberofdays" />
                        <select name="timePeriod" id="timePeriod" onchange="onSelectionChange(this)">
                            <option value="None">--Select--</option>
                            <option value="Hour">Hour</option>
                            <option value="Day">Day</option>
                        </select>
                    </label>

                </div>
                <div class="frgrid">
                    <label id="total_cost_label">Total :
                        <input name="total" type="text" readonly id="total_cost" />
                    </label>
                    <br />
                    <input type="submit" value="Book" class="btn btn-dark savebtn" />
                </div>
            </div>
            {{#if hasErrors}}
                        <div class="err-strip">
                            <p>{{{error}}}</p>
                        </div>
                    {{/if}}
        </form>
        {{/if}}

    </div>

</div>

<script src="../public/js/carSearch.js"></script>