<div class="wrapper">
    <div class="header">
            <div class="logo-action">
            {{#if role}}
            <i class="logo fas fa-arrow-circle-left" onclick="window.location='/userDashboard'"></i>
            {{else}}
            <i class="logo fas fa-arrow-circle-left" onclick="window.location='/admin/adminDashboard'"></i>
            {{/if}}
            <h1><i class="logo fas fa-car"></i>ezCars</h1>
        </div>
    </div>
    <div class="content">
        <h1>Car Details</h1>
        <div class="main-grid">
            <div class="lgrid">
                <p class="dtext"><b>Model: </b>{{details.model}}</p>
                <p class="dtext"><b>Type: </b>{{details.type}}</p>
                <p class="dtext"><b>Color: </b>{{details.color}}</p>
                <p class="dtext"><b>Number of Doors: </b>{{details.numberDoors}}</p>
                <p class="dtext"><b>Seating Capacity: </b>{{details.seatingCapacity}}</p>
            </div>
            <div class="rgrid">
                <p class="dtext"><b>Hourly Rate: </b>{{details.hourlyRate}}</p>
                <p class="dtext"><b>Availability: </b>{{details.availability}}</p>
                <p class="dtext"><b>Overall Rating: </b>{{details.overallRating}}</p>
                <p class="dtext"><b>Engine Type: </b>{{details.engineType}}</p>
            </div>
        </div>
        <hr />
        <h1>Reviews:</h1>
        {{#if rev.length}}
        {{#each rev}}
        <b>Rating: </b>{{this.rating}}<br />
        <b>Client said: </b><i>"{{this.text}}"</i><br /><br />
        {{/each}}
        {{/if}}

        <div id="id_error1" hidden class="err-strip"></div>
        {{#if role}}
        <form action="/bookCar/{{details._id}}" method="post" id="booking-form" class="booking-form">
            <div class="form-grid">
                <div class="flgrid">
                    <label>Time Span :
                        <input type="number" name="count" id="numberofdays" min="1" max="10"
                            onchange="onCountChange(this)" />
                    </label>
                        <select name="timePeriod" id="timePeriod" onchange="onSelectionChange(this)">
                            <option value="None">--Select--</option>
                            <option value="Hour">Hour</option>
                            <option value="Day">Day</option>
                        </select>
                    <br />
                    <label>From Date :
                        <input type="date" name="fromDate" id="from_date" onchange="onFromDateChange(this)" />
                    </label><br />
                    <label>Upto Date :
                        <input type="date" name="toDate" id="to_date" onchange="onToDateChange(this)" />
                    </label>
                </div>
                <div class="frgrid">
                    <label id="total_cost_label">Total Cost:
                        <input name="total" type="text" readonly id="total_cost" />
                    </label>
                    <br />
                    <input type="submit" value="Book" class="btn btn-dark savebtn" />
                </div>
            </div>
            {{#if hasErrors}}
            <div id="noresponseError" class="err-strip">
                <p>{{{error}}}</p>
            </div>
            {{/if}}
        </form>
        {{/if}}
    </div>
 {{!-- <footer>
            <p id="time"  class="formating">1:43</p>
            </footer>
            <script src="../public/js/time.js"></script>
            <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script> --}}
        <script src="../public/js/carSearch.js"></script>
</div>
