<div class="wrapper">
    <div class="header">
        <span class="logo-action">
            {{#if role}}
            <i class="logo fas fa-arrow-circle-left" onclick="window.location='/userDashboard'"></i>
            {{else}}
            <i class="logo fas fa-arrow-circle-left" onclick="window.location='/admin/adminDashboard'"></i>
            {{/if}}
            <h1><i class="logo fas fa-car"></i>ezCars</h1>
        </span>
    </div>
    <div class="content">
        <h1>Car Details</h1>
        <div class="main-grid">
            <div class="lgrid">
                <p class="dtext">Model: {{details.model}}</p>
                <p class="dtext">Type: {{details.type}}</p>
                <p class="dtext">Color: {{details.color}}</p>
                <p class="dtext">Number of Doors: {{details.numberDoors}}</p>
                <p class="dtext">Seating Capacity: {{details.seatingCapacity}}</p>
            </div>
            <div class="rgrid">
                <p class="dtext">Hourly Rate: {{details.hourlyRate}}</p>
                <p class="dtext">Availability: {{details.availability}}</p>
                <p class="dtext">Overall Rating: {{details.overallRating}}</p>
                <p class="dtext">Engine Type: {{details.engineType}}</p>
                <p class="dtext">Reviews:</p> 
                {{#if rev.length}}
                    {{#each rev}}
                        Client said: "{{this.text}}" Rating: {{this.rating}}<br></br>
                    {{/each}}
                {{/if}}
                {{!-- <p class="dtext">Rented: {{details.rented}}</p> --}}
            </div>
        </div>
        {{#if role}}
            <form action="/bookCar" method="post" id="booking-form">
                <label>Time Period : 
                    <input type="number" name="count" id="numberofdays"/>
                    <select name="timePeriod" id="timePeriod" onchange="onSelectionChange(this)">
                        <option value="None"></option>
                        <option value="Hour">Hour</option>
                        <option value="Day">Day</option>
                    </select>
                </label>
                <label>Total :
                    <input type="text" readonly id="total_cost"/>
                </label>
                <label>From-To Date :
                    <input type="date" id="from_date" onchange="onFromDateChange(this)"/>
                    <input type="date" id="to_date" onchange="onToDateChange(this)"/>
                </label>
                <input type="submit" value="Book" class="btn btn-dark savebtn"/>
                <div id="id_error1" hidden></div>
            </form>
        {{/if}}
    </div>

</div>

<script src="../public/js/carSearch.js"></script>