<div class="wrapper">
        <div class="header">
            <span>  
                <button onclick="window.location='/userDashboard'" class="btn btn-light-outline">Back</button>      
                <h1>Rent-a Car</h1>
            </span>
            </div>
        <div class="services">
             <p>Model: {{details.model}}</p> 
       <p>Type: {{details.type}}</p> 
       <p>Color: {{details.color}}</p> 
       <p>Number of Doors: {{details.numberDoors}}</p> 
       <p>Seating Capacity: {{details.seatingCapacity}}</p> 
       <p>Hourly Rate: {{details.hourlyRate}}</p> 
       <p>Availability: {{details.availability}}</p> 
       <p>Overall Rating: {{details.overallRating}}</p> 
       <p>Engine Type: {{details.engineType}}</p> 
       <p>Reviews: {{details.reviewsGiven}}</p> 
       <p>Rented: {{details.rented}}</p> 
       <p>Rented By: {{details.rentedBy}}</p> 
        </div>
        
        <div class="footer">
             <span class="btn-grp">
                    <button class="btn btn-light-outline">Book</button>
            </span>
        </div>