<div class="wrapper">
    <div class="header">
        <span class="logo-action">
            <i class="logo fas fa-arrow-circle-left" onclick="window.location='/'"></i>
            <h1><i class="logo fas fa-car"></i>ezCars</h1>
        </span>
        <span class="btn-grp">
            <button onclick="window.location='/addCar'" class="btn btn-light-outline">Add Car<i
                    class="far fa-plus-square"></i></button>
        </span>
    </div>
    <div class="content">
        <h1>Cars List ({{body.length}})</h1>
        {{#if body.length}}
        <ul class="carlist-ul">
            {{#each body}}
            <li class="cars carlist-action-btns">
                <a href="/cars/{{this._id}}">{{this.model}}</a>
                <span>
                    <i class="delete fas fa-trash" onclick="window.location='/deleteCar/{{this._id}}'"></i>
                    <i class="edit fas fa-edit" onclick="window.location='/editCar/{{this._id}}'"></i>
                </span>
            </li>
            {{/each}}
        </ul>
        {{/if}}
    </div>
</div>