<div class="header">
        <div class="logo-action">
        <i class="logo fas fa-arrow-circle-left" onclick="window.location='/admin/adminDashboard'"></i>
        <h1><i class="logo fas fa-car"></i>ezCars</h1>
    </div>
</div>
<div class="content">

    <form action="/admin/editCars/{{body._id}}" method="Post" id="edit-car-form">
        <div id="divError" class="err-strip" hidden></div>
        {{#if hasErrors}}
        <div class="err-strip">
            <p>{{{error}}}</p>
        </div>
        {{/if}}
        <h1>Update Car Details</h1>
        <div class="main-grid">
            <div class="lgrid">
                <div>
                    <label for="type">Type : <br />
                        <input type="text" value="{{body.type}}" name="type" id="type" class="txt" />
                    </label>
                </div>
                <div>
                    <label for="model">Model : <br />
                        <input class="txt" type="text" value="{{body.model}}" name="model" id="model" />
                    </label>
                </div>
                <div>
                    <label for="color">Color : <br />
                        <input type="text" class="txt" value="{{body.color}}" name="color" id="color" />
                    </label>
                </div>
                <div>
                    <label for="numberDoors">Number of Doors : <br />
                        <input type="number" class="txt" value="{{body.numberDoors}}" name="numberDoors"
                            id="numberDoors" min="1" max="10"/>
                    </label>
                </div>
            </div>
            <div class="rgrid">
                <div>
                    <label for="seatingCapacity">Seating Capacity : <br />
                        <input type="number" class="txt" value="{{body.seatingCapacity}}" name="seatingCapacity"
                            id="seatingCapacity" min="1" max="10"/>
                    </label>
                </div>
                <div>
                    <label for="hourlyRate">Hourly Rate : <br />
                        <input type="text" class="txt" value="{{body.hourlyRate}}" name="hourlyRate" id="hourlyRate" />
                    </label>
                </div>
                <div>
                    <label for="availability">Availability : <br />
                        <select class="txt" name="availability" id="availability">
                            <option value="Hour">Yes</option>
                            <option value="Day">No</option>
                        </select>
                    </label>
                </div>
                <div>
                    <label for="engineType">Engine Type : <br />
                        <input type="text" class="txt" value="{{body.engineType}}" name="engineType" id="engineType" />
                    </label>
                </div>
            </div>
        </div>
        <div class="savebtn">
            <input type="submit" value="Update" class="btn btn-dark" />
        </div>
    </form>

    <script src="../../public/js/editFormValidation.js"></script>
</div>