        <header>
            <h1>User Sign-up</h1>
        </header>
        <form action="/register" method="post" id="register-form">
            <div >
                <label for="firstName">First Name : 
                    <input type="text" value = "{{firstName}}" name="firstName" id="firstName"/>
                </label>
            </div>
            <div >
                <label for="lastName">Last Name : 
                    <input type="text" value = "{{lastName}}" name="lastName" id="lastName"/>
                </label>
            </div>
            <div >
                <label for="address">Address : 
                    <input type="text"  value = "{{address}}" name="address" id="address"/>
                </label>
            </div>
            <div >
                <label for="email">Email : 
                    <input type="email"  value = "{{email}}" name="email" id="email"/>
                </label>
            </div>
            <div >
                <label for="phoneNum">Phone Number : 
                    <input type="text"  value = "{{phoneNum}}" name="phoneNum" id="phoneNum"/>
                </label>
            </div>
            <div >
                <label for="licenseNum">License Number : 
                    <input type="text"  value = "{{licenseNum}}" name="licenseNum" id="licenseNum"/>
                </label>
            </div>
            <div >
                <label for="username">Username : 
                    <input type="text"  value = "{{username}}" name="username" id="username"/>
                </label>
            </div>
            <div >
                <label for="password">Password : 
                    <input type="password"  value = "{{password}}" name="password" id="password"/>
                </label>
            </div>

            <div >
                <input type="submit" value="Register" />
            </div>
        </form>
{{!-- 
        <div>
        <footer class="footer-design">
           <a href="/login">Already have an account? Click here to log-in</a>
        </footer>
        </div> --}}

        {{#if hasErrors}}
        <h2>{{{error}}}</h2>
        {{/if}}
