  <button onclick="window.location='/userDashboard'" class="btn btn-light-outline">Back</button>
 <div class="content">
        <h1>Past History ({{body.length}})</h1>
        {{#if body.length}}
        <form action="/review/{{this._id}}" method="post" id="review-form"></form>
        <ul class="carlist-ul">
            {{#each body}}
            <li class="cars">
                <a href="/request/{{this._id}}">
                 Request Details
                </a><br />
                Date : {{fromDate}} to {{toDate}}<br />
                Time span : {{timePeriod}}</br>
                <span>
                    <label>Review : 
                    <input name="review" type="text" id="reviewId"/>
                    </label>
                    <label>Rating : 
                    <input name="rating" type="number" id="rateId"/>
                    </label>
                    <input type="submit" value="Submit" class="btn btn-dark savebtn" />
                </span>
            </li>
            {{/each}}
        </ul>
        </form>
        {{/if}}
    </div>