<div class="wrapper">
    <div class="header">
            <div class="logo-action">
            <i class="logo fas fa-arrow-circle-left" onclick="window.location='/'"></i>
            <h1><i class="logo fas fa-car"></i>ezCars</h1>
        </div>
        <button onclick="window.location='/userHistory'" class="btn btn-light-outline">History<i
                class="fas fa-history"></i></button>

    </div>
    <div class="mob-grp">
        <select name="filter" id="filter" onchange="onFilterChange(this)" class="sfield">
            <option value="None">--Select--</option>
            <option value="All">All</option>
            <option value="Model">Model</option>
            <option value="Color">Color</option>
            <option value="Seating Capacity">Seating Capacity</option>
            <option value="Engine Type">Engine Type</option>
            <option value="Rating">Rating</option>
        </select>
        <span class="sfield">
            <i class="fas fa-search"></i>
            <input id="searchbar" onkeyup="search_car()" type="text" name="search" placeholder="Search car..">
        </span><br />
    </div>
    <p id="id_error" hidden style="text-align: right; width:80%"></p>
    <div class="content">
        <h1>Cars ({{body.length}})</h1>
        <p id="time"  style="text-align: right; width:98%">1:43</p>
        {{#if request.length}}
        <ol class="info-strip">
            <a href="/allRequests/{{request}}" class="powerlinks">
                Pending Request(s). Click for details.
            </a>
        </ol>
        {{/if}}
        {{#if extension.length}}
        <ol class="info-strip">
            <a href="/allRequests/extension/{{extenreqs}}" class="powerlinks">
                Pending Extension Request(s). Click for details.
            </a>
        </ol>
        {{/if}}
        <div class="scroll-container">
            {{#if body.length}}
            <ul class="carlist-ul">
                {{#each body}}
                <li class="cars">Model :{{this.model}} <br />
                    Color : {{this.color}} <br />
                    Seating Capacity : {{this.seatingCapacity}} <br />
                    Engine Type : {{this.engineType}} <br />
                    Rating : {{this.overallRating}} <br />
                    <span class="carlist-action-btns">
                        <button onclick="window.location='/cars/{{this._id}}'">View Details/ <br/> Book Car</button>
                    </span>
                </li>
                {{/each}}
            </ul>
            {{/if}}
            {{#unless body.length}}<h3 style="margin-top: 10px;">No Data Found...</h3>{{/unless}}
        </div>
    </div>

    <script src="public/js/carSearch.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="public/js/time.js"></script>
    </div>