<div class="wrapper">
    <div class="header">
        <span class="logo-action">
            <i class="logo fas fa-arrow-circle-left" onclick="window.location='/userDashboard'"></i>
            <h1><i class="logo fas fa-car"></i>ezCars</h1>
        </span>
    </div>
    <div class="content">
        <h1>Past History ({{body.length}})</h1>
        {{#if body.length}}
        <form action="/review/{{this._id}}" method="post" id="review-form"></form>
        <ul class="carlist-ul">
            {{#each body}}
<<<<<<< HEAD
            <a href="/admin/request/{{this._id}}">
                Request Details
            </a>
            <li>Date : {{fromDate}} to {{toDate}}</li>
            <li>Time span : {{timePeriod}}</li>
=======
>>>>>>> 61272f0afed44b7fc8e057e858af34253a3bf09b
            <li class="cars">
                <a href="/request/{{this._id}}">
                 Request Details
                </a><br />
                Date : {{fromDate}} to {{toDate}}<br />
                Time span : {{timePeriod}}</br>
                <span>
                    <label>Review :
                        <input name="review" type="text" id="reviewId" />
                    </label>
                    <label>Rating :
                        <input name="rating" type="number" id="rateId" />
                    </label>
                    <input type="submit" value="Submit" class="btn btn-dark savebtn" />
                </span>
            </li>
            {{/each}}
        </ul>
        </form>
        {{/if}}
    </div>
</div>