<div class="wrapper">
    <div class="header">
        <span class="logo-action">
            <i class="logo fas fa-arrow-circle-left" onclick="window.location='/userHistory'"></i>

            <h1><i class="logo fas fa-car"></i>ezCars</h1>
        </span>
    </div>
    <div class="content">
        <h1>Request Details</h1>
        <div class="main-grid">
            <div class="lgrid">
                <p class="dtext"><b>Username: </b>{{user.username}}</p>
                <p class="dtext"><b>First name: </b>{{user.firstName}}</p>
                <p class="dtext"><b>Last Name: </b>{{user.lastName}}</p>
                <p class="dtext"><b>Email: </b>{{user.email}}</p>
                <p class="dtext"><b>Phone Number: </b>{{user.phoneNum}}</p>
            </div>
            <div class="rgrid">
                <p class="dtext"><b>Requesting: </b>{{car.model}}</p>
                <p class="dtext"><b>From: </b>{{req.fromDate}}</p>
                <p class="dtext"><b>To: </b>{{req.toDate}}</p>
                <p class="dtext"><b>Time Span: </b>{{req.timePeriod}}</p>
                <p class="dtext"><b>Total Cost: </b>{{req.totalCost}}</p>
            </div>
        </div>
        <hr />
    </div>
    <div class="content">
        {{#if review}}
        <form action="/review/{{req._id}}" method="post" id="review-form" class="booking-form">
            <div style="margin-left: 10px;">
        <h1>Reviews:</h1>
            {{#if rev.length}}
            {{#each rev}}
            <b>Rating: </b>{{this.rating}}<br />
            <b>Client said: </b><i>"{{this.reviewText}}"</i><br /><br />
            {{/each}}
            {{/if}}
        <form action="/review/{{req._id}}" method="post" id="review-form">
                <span>
                    <label>Review :
                        <input name="review" type="text" id="reviewId" style="margin: 5px 0px;" />
                    </label>
                    <br />
                    <label>Rating :
                        <input name="rating" type="number" id="rateId" style="margin: 5px 0px; width:150px;" min="1"
                            max="5" />
                    </label>
                    <br />
                    <input type="submit" value="Submit Review" class="btn btn-dark savebtn" style="margin: 5px 0px;" />
                </span>
            </div>
            {{#if hasErrors}}
            <div id="noresponseError" class="err-strip">
                <p>{{{error}}}</p>
            </div>
            {{/if}}
        </form>
        {{/if}}
    </div>
    <div class="content">
        {{#if extension}}
        <form action="/extension/{{req._id}}" method="post" id="extension-form" class="booking-form">
            <div style="margin-left: 10px;">
                <span>
                    <label>Time Span :
                        <input type="number" name="count" id="numberofdays1" min="1" max="10" style="width:150px" />
                        <select name="timePeriod" id="timePeriod1">
                            <option value="None">--Select--</option>
                            <option value="Hour">Hour</option>
                            <option value="Day">Day</option>
                        </select>
                    </label>
                    <br />
                    <input type="submit" value="Request Extension" class="btn btn-dark savebtn"
                        style="margin: 5px 0px;" />
                </span>
            </div>
            {{#if hasErrors}}
            <div id="noresponseError" class="err-strip">
                <p>{{{error}}}</p>
            </div>
            {{/if}}
        </form>
        {{/if}}
    </div>
</div>